.EModal-background{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(255,228,225,0.5)
} 

.EModal-container{
    width:40%;
    background-color: white;
    position: fixed;
    top:10%;
    left: 50%;
    transform: translate(-50%, 0);
} 

.EModal-header{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(143, 85, 250);
    padding:10px;
}

.EModal-body{
    height: 100px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    
}

.EModal-footer{
    padding:10px;
    text-align:right;
} 