.month{
    font-size:18px
}

.year{
    font-size:13px
}

.day{
    font-size:25px;
    font-weight:bolder;
}

.date{
    background-color:rgb(49, 45, 45);
    color:white;
    display: inline-block;
    border: solid white 1px;
    margin-right:15px;
    text-align:center;
    width: 100px;
    height: 65px;
    padding: 10px 0;
    display: table-cell
}