.date-container{
    display: table-cell;
    width: 102px;
    height: 87px;
    vertical-align: top;
}
.right-container{
    vertical-align: top;
}

.middle-container{
    color: #fff;
    font-size: 20px;   
    font-weight:bolder;
    word-break: break-word;
    display: table-cell;
    padding-left: 15px;
}
@media (max-width: 800px) {
    /* styles to apply when screen size is 800px or less */
    .container {
        flex-direction: column;
    }
    .left-container{
        margin:auto;
    }
    .right-container{
        text-align: center;
    }
    .middle-container {
      margin-top: 5px;
      margin-bottom: 5px;
      text-align: center;
    }
  }

.cost{
    padding: 10px;
    border: solid white 1px;
    background-color: rgb(102, 26, 173);
    color: #fff;
    display: inline-block;
    vertical-align: top;
    margin: auto 0 auto 15px;
    font-size: 20px;
}

.container{
    background-color: rgb(73, 72, 72);
    margin: 10px auto;
    padding: 15px 10px 10px 10px;
    overflow:hidden;
    display: flex;
    justify-content: space-between;   
}
.left-container{
    display:table;
    overflow:hidden;
}