.form-container{
    background-color: rgb(143, 85, 250);
    width: 50%;
    margin:auto auto 15px auto;
    padding: 10px;

}

.form-section{
    display:inline-block;
    width:50%;
    overflow:hidden;
    font-weight: bold;
}